@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-custom-magenta mb-2 text-2xl font-semibold;
}

img {
  max-height: 100%;
}

.aside-links a,
.aside-links button {
  transition: 0.3s ease;
}

.aside-links a:hover,
.aside-links button:hover {
  font-weight: bold;
}

input,
textarea,
select {
  @apply border-2 border-gray-200 rounded-md px-1 w-full text-gray-600;
  @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-gray-200;
}

label {
  @apply text-gold text-lg;
}

.btn-primary {
  @apply bg-custom-magenta text-white px-4 py-2 rounded-xl;
}

.btn-primary:hover {
  @apply bg-custom-dark-magenta font-semibold transition-colors;
}

table.basic {
  @apply w-full;
}

table.basic thead th {
  @apply p-1 text-left text-gold text-lg border-b border-gray-100;
}
table.basic tr {
  @apply border-b border-gray-100;
}

table.basic a {
  @apply inline-flex gap-1 mr-1;
}

table.basic td {
  @apply p-1 text-gray-600;
}

.icon-scale {
  transition: transform 0.3s ease, stroke-width 0.3s ease;
}

.icon-scale:hover {
  transform: scale(1.1);
  stroke-width: 1.5;
}

.btn-default {
  @apply bg-gray-400 text-white px-4 rounded-xl;
}

.btn-default:hover {
  @apply bg-gray-500 font-semibold transition-colors;
}
